name: test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  neovim:
    name: ${{ matrix.nvim-version }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        nvim-version: [v0.9.5, v0.10.2]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Nix
      uses: cachix/install-nix-action@v31

    - name: Run Neovim tests
      run: make test NVIM_VERSION=${{ matrix.nvim-version }}
